%footer
  %ul.f-top
    %li
      %a{:href => "/latest"} 新着一覧
    %li
      %a{:href => "/tag"} トピック一覧
    %li
      %a{:href => "/company-list"} ストーリー掲載企業一覧
  %ul.f-bottom
    %li
      %a{:href => "https://product.pr-table.com/faq"} よくある質問
    %li
      %a{:href => "/agreement"} 利用規約
    %li
      %a{:href => "/privacy"} プライバシーポリシー
    %li
      %a{:href => "/PR_Table"} 運営会社
    %li
      %a{:href => "https://product.pr-table.com/", :target => "_blank"} 資料請求/お問い合わせ
    %li
      %a{:href => "http://blog.pr-table.com/", :target => "_blank"} PR Table Community
  %ul.social-icons
    %li
      %a{:href => "https://www.facebook.com/prtable", :target => "_blank"}
        %i.fa.fa-facebook.fa-2x{"aria-hidden" => "true"}
    %li
      %a{:href => "https://twitter.com/PR_Table", :target => "_blank"}
        %i.fa.fa-twitter.fa-2x{"aria-hidden" => "true"}
    %li
      %a{:href => "/"}
        %i.fa.fa-rss.fa-2x{"aria-hidden" => "true"}
  %address
    %p.copyright ©PR Table Inc.
