.side-contents
  %section.side-stories
    %h2.side-story-title 注目ストーリー
    .side-wrap
      %article
        %a{:href => "/palsbots/stories/1120"}
          .article_image
            %img.image{:alt => "写真1", :src => "/assets/7dae70ffeed05f2ae157d21aa7542ef323082b57.jpg", height: '90px', width: '89px'}/
            .story-info
              %strong ポケットのないドラえもんでいい。釼持広樹がロボットをつくる理由
              .company-name パルスボッツ株式会社
      %article
        %a{:href => "/miraif/stories/1129"}
          .articale_image
            %img.image{:alt => "写真2", :src => "/assets/9037994ef004bb745f9c3fd2337f8403508caedc.jpeg", height: '90px', width: '89px'}/
            .story-info
              %strong 「MBAを取っても、経営者にはなれません」そこに示される本当の価値
              .company-name 株式会社ミライフ
      %article
        %a{:href => "/repro/stories/1140"}
          .article_image
            %img.image{:alt => "写真3", :src => "/assets/6bf15b8d36b876c978ae64cde396de7867b97436.jpg", height: '90px', width: '89px'}/
            .story-info
              %strong 創業4年で世界59カ国に展開。マーケティングにかけたReproの軌跡・前編
              .company-name Repro株式会社
  %section.side-tags
    %h2.side-story-title おすすめトピック
    .side-wrap
      %ul
        %li.side-tags_list
          %a{:href => "/tag/new-business"} 新規事業
        %li.side-tags_list
          %a{:href => "/tag/nurse"} 看護
        %li.side-tags_list
          %a{:href => "/tag/culture"} 企業カルチャー
        %li.side-tags_list
          %a{:href => "/tag/kagoshima"} 鹿児島
        %li.side-tags_list
          %a{:href => "/tag/yamagata"} 山形
        %li.side-tags_list
          %a{:href => "/tag/medical"} 医療
        %li.side-tags_list
          %a{:href => "/tag/success-of-women"} 女性の活躍
        %li.side-tags_list
          %a{:href => "/tag/kyoto"} 京都
        %li.side-tags_list
          %a{:href => "/tag/government"} 行政・自治体
        %li.side-tags_list
          %a{:href => "/tag/former-recruit"} 元リクルート
        %li.side-tags_list
          %a{:href => "/tag/wakayama"} 和歌山
        %li.side-tags_list
          %a{:href => "/tag/research-development"} 研究開発
        %li.side-tags_list
          %a{:href => "/tag/care"} 介護
        %li.side-tags_list
          %a{:href => "/tag/hidden-keyperson"} 隠れたキーパーソン
        %li.side-tags_list
          %a{:href => "/tag/kanagawa"} 神奈川
        %li.side-tags_list
          %a{:href => "/tag/hokkaido"} 北海道
        %li.side-tags_list
          %a{:href => "/tag/miyazaki"} 宮崎
        %li.side-tags_list
          %a{:href => "/tag/diversity"} 多様性・ダイバーシティ
        %li.side-tags_list
          %a{:href => "/tag/anniversary"} 周年記念
        %li.side-tags_list
          %a{:href => "/tag/aichi"} 愛知
    %hr{:style => "width:300px; height:1px; background-color:#EEEEEE; border: 0;"}/
    .more
      %a{:href => "/tag"}
        %i.fa.fa-chevron-right{"aria-hidden" => "true"}>
        トピック一覧
  %section.side-companylist
    %h2 ストーリー掲載企業
    .side-wrap
      %a{:href => "/ikkai"}
        %figure.figure
          .img
            %img{:alt => "f", :src => "/assets/ffbc7ce3acb249585320b7609b8ba1cf6b94fba4.png", height: '35px', width: '35px'}/
            %figcaption.figcaption ikkai
      %a{:href => "/gozal"}
        %figure.figure
          .img
            %img{:alt => "f2", :src => "/assets/27bf8ef793138166b3c2fa892708ab330e93102f.png", height: '35px', width: '35px'}/
            %figcaption.figcaption 株式会社BEC
      %a{:href => "/neo-career"}
        %figure.figure
          .img
            %img{:alt => "f3", :src => "/assets/135162d9d7ce021b8bef05b6b45f5f449d78dafb.png", height: '35px', width: '35px'}/
            %figcaption.figcaption 株式会社ネオキャリア
      %a{:href => "/sevendreamers"}
        %figure.figure
          .img
            %img{:alt => "Ff4", :src => "/assets/80630bf2c13f5b4d4249c6c161a5920cd46763b5.jpg", height: '35px', width: '35px'}/
            %figcaption.figcaption 株式会社ラクーン
      %a{:href => "/athuman"}
        %figure.figure
          .img
            %img{:alt => "f5", :src => "/assets/e21e2f4ca555b18e51867ded6f4f28c1ab82666d.jpg", height: '35px', width: '35px'}/
            %figcaption.figcaption ヒューマンホールディングス株式会社
    %hr{:style => "width:300px; height:1px; background-color:#EEEEEE; border: 0;"}/
    .more
      %a{:href => "/company-list"}
        %i.fa.fa-chevron-right{"aria-hidden" => "true"}>
        ストーリー掲載企業一覧
