%link{rel: "stylesheet", href: "slick.scss"}
%script{src: "slick/slick.min.js"}

.header-tags
  %ul
    %li%a{href: "/tag/sharing-economy"}#シェアリングエコノミー

#carousel-stories.slick-initialized
  %ul.slick-dots{role: "tablist", style: "display:flex;"}
    %li#slick-slide.slick-active{"aria-controls": "navigation", "aria-hidden": "true", "aria-selected": "false", role: "presentation"}
    %li#slick-slide.slick-active{"aria-controls": "navigation", "aria-hidden": "true", "aria-selected": "false", role: "presentation"}
    %li#slick-slide.slick-active{"aria-controls": "navigation", "aria-hidden": "true", "aria-selected": "false", role: "presentation"}
  .slider-arrow
  .slider
    %figure
      .img
        = image_tag "topimage02.jpg"
    %figure
      .img
        = image_tag "topimage01.jpg"
    %figure
      .img
        = image_tag "topimage03.jpg"
