%link{rel: "stylesheet", href: "slick.scss"}
%script{src: "slick/slick.min.js"}

.header-tags
  %ul
    %li%a{href: "/tag/sharing-economy"}#シェアリングエコノミー

#carousel-stories.slick-initialized
  .slider-arrow
  .slider
    %figure
      .img
        = image_tag "technology.jpg"
    %figure
      .img
        = image_tag "society.jpg"
    %figure
      .img
        = image_tag "city.jpg"

