%link{rel: "stylesheet", href: "slick.scss"}
%script{src: "slick/slick.min.js"}

.header-tags
  %ul
    %li%a{href: "/tag/sharing-economy"}#シェアリングエコノミー

#carousel-stories.slick-initialized
  .slider-arrow
  .slider
    %figure
      .img
        = image_tag "sea.jpeg"
    %figure
      .img
        = image_tag "harinezumi.jpeg"
    %figure
      .img
        = image_tag "cat.jpeg"

