.footer {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 12px;
  height: 250px;
  width: 100%;
  position: relative;
  bottom: 0;
  background-color: white;
  clear: both;
    .f-top {
      padding-top: 30px;
      list-style-type: none;
      padding-left: 0;
      text-align: center;
      .f-top_list {
        width: 50px;
        height: 20px;
        padding: 10px;
        margin: 2px;
        display: inline;
      }
    }
    .f-bottom {
      text-align: center;
      margin: 2em;
       .f-bottom_list {
         display: inline;
         margin: 5px;
       }
    }
  .social-icons {
   text-align: center;
   height: 30px;
   margin: 2em;
     .social-icon_list {
      display: inline;
      margin: 10px;
     }
  }
    a {
    text-decoration: none;
    color: #666;
    }
  .address {
   font-style: normal;
   text-align: center;
   font-size: 10px;
   clear: both;
   padding-top: 2em;
  }
}

