@import 'variable';

::selection{
  background: rgba(41, 217, 194, 0.5);
  text-shadow: none;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box
}

body, html{
  min-width: 1240px;
  height: 100%;
  width: 100%;
  .wrapper.gray {
    background-color: #F2F2F2;
    .container-home {
      margin-top: 3em;
      width: 1240px;
      min-height: 2000px;
      margin: 2em auto;
      padding:0 1em;
      padding-bottom: 10em;
      position: relative;
    }
  }
}
