.left-contents {
  float: left;
  width: 868px;
  .pickup-companies-container{
    margin-bottom: 2em;
    .title {
      border-bottom: 1px solid rgba(0,0,0,0.15);
      .updating {
        padding-bottom: 5px;
        display: inline-block;
        font-style: 1.4rem;
        line-height: 1.2;
        border-bottom: 1px solid rgba(0,0,0,0.44)
      }
    }
    #pickup-companies.slick {
      padding-left: 30px;
      padding-right: 30px;
      // display: flex;
      // flex-wrap: wrap;
      // height: 250px;
      .slider-container {
        position: relative;
        // overflow: hidden;
        margin: 0;
        padding: 0;
        display: block;
        .slick-arrow {
          top: 60%;
          background-color: brown;
        }
        .slick-image {
          // float: left;
          // height: 170px;
          // font-family: fontAwesome;
          .deco-link {
            text-decoration: none;
          }
          figure.fig-content {
            margin: 25px 30px 0 30px;
            .fig-img {
              height: 130px;
              width: 230px;
              box-shadow:0 0 5px rgba(0,0,0,0.2);
            }
            figcaption.figcap-content{
              box-shadow:0 0 5px rgba(0,0,0,0.2);
              background-color: #fff;
              height: 40px;
              width: 230px;
              .logo {
                background-color: #fff;
                position: relative;
                top: -.5em;
                text-align: center;
                z-index: 2;
                overflow: hidden;
                border-radius: 2px;
                box-shadow: 0 0 5px;
                float: left;
                .figcap-img {
                  width: 40px;
                  height: 40px;
                }
              }
              strong.company-name {
                background-color: #fff;
                width: 40px;
                height: 40px;
                position: relative;
                margin-left: 1em;
                font-size: 12px;
                text-align: center;
                text-decoration: none;
              }
            }
          }
        }
      }
    }
  }
  .latest-stories-container {
    width: 100%;
    .container-title {
      margin-bottom: 2em;
      border-bottom: 1px solid rgba(0,0,0,0.15);
      .new-story {
        padding-bottom: 5px;
        display: inline-block;
        font-style: 1.4rem;
        line-height: 1.2;
        border-bottom: 1px solid rgba(0,0,0,0.44)
      }
    }
    .stories {
      display: flex;
      flex-wrap: wrap;
      .stories-link {
        width: 31%;
        margin-bottom: 2%;
        margin-right: 2%;
        background-color: #FFF;
        .article-link {
          position: relative;
          display: block;
          padding: 1.0em;
          color: #333;
          text-decoration: none;
          .hoverground {
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            background-color: rgba(255,255,255,0);
            // z-index: 5;
          }
          .image-link {
            border:1px solid #EBEBEB;
            width: 100%;
            height: 150px;
          }
          .subject {
            font-size: 12px;
            font-weight: bold;
            line-height: 1.5;
            display: block;
            margin-top: 1em;
          }
          .name {
            font-size: 11px;
            margin-top: 1em;
            line-height: 1;
            overflow: hidden;
          }
        }
      }
    }
    .more {
      text-align: center;
      margin-top: 5em;
      letter-spacing: normal;
      margin-bottom: 10em;
      .more-link {
        font-weight: bold;
        font-size: 0.8em;
        background-color: #FFF;
        color: #666;
        padding: 1em 5em;
        border-radius: 30px;
        display: inline-block;
        text-decoration: none;
        .circle-link {
          font-size: 1.5em;
          display: inline-block;
          vertical-align: middle;
          margin-right: .5em;
        }
      }
    }
  }
}
