.side-contents {
  width: 300px;
  float: right;
  .side-stories {
    background-color: #FFF;
    padding-bottom: 1.8em;
    margin-bottom: 2em;
    font-size: 10px;
    .side-story-title {
      padding: 1.8rem;
      font-size: 13px;
      line-height: 1;
      color: #999;
      margin-bottom: 1em;
    }
    a {
      text-decoration: none;
      color: #666;
    }
    .article_image {
      width: 290px;
    }
    .hoverground{
      float: left;
      .image {
        height: 10px;
        width: 5px;
        padding-top: 20px
      }
    }
      .story-info {
        padding-top: 10px;
        float: right;
        width: 65%;
        .strong {
          word-break: break-word;
          text-align: left;
        }
        .company-name {
          padding-top: 10px;
        }
      }
  }
  .side-tags {
    background-color: #FFF;
    margin-bottom: 2em;
    .side-story-title {
      font-size: 13px;
      padding: 1.8rem;
      line-height: 1;
      color: #999;
      margin-bottom: 1em;
    }
    a {
      text-decoration: none;
      color: #666;
    }
  }
    .side-wrap {
    margin: 0 1.8em;
      .side-style {
        margin-bottom: 1.8em;
      }
      ul.side-lists {
        list-style: none;
        letter-spacing: -.40em;
      }
    }
      .side-tags_list {
        display: inline-block;
        vertical-align: top;
        letter-spacing: normal;
        width: 50%;
        list-style: none;
        margin-bottom: 1em;
        font-size: 12px;
      }
      .more {
        text-align: center;
        font-size: 12px;
        margin-top: 2em;
        .more-bottom {
          display: block;
          font-weight: bold;
          line-height: 1;
          padding: 1em;
          border-top: 1px solid #EBEBEB;
          transition: all .3s;
        }
      }
  .side-companylist {
    background-color: #FFF;
    .side-story-title {
        padding: 1.8rem;
        font-size: 13px;
        line-height: 1;
        color: #999;
        margin-bottom: 1em;
      }
      a {
        text-decoration: none;
        color: #666;
        display: block;
        margin-bottom: 1em;
      }
      .figure {
        display: table;
        width:100%;
        margin: 0;
        .img {
          width: 40px;
          margin-right: 0;
          img {
            max-width: 40px;
            float:left;
          }
        }
          .figcaption {
            font-size: 14px;
            padding-left: 5em;
            height: 45px;
            width: 250px;
          }
      }
  }
}
