.header-tags {
  display: none;
  position: absolute;
  box-sizing: border-box;
  padding: 1em 3em;
  top: 60px;
  left: 0;
  width: 100%;
  z-index: 99999;
  background-color: #fff;
  box-shadow: 0 4px 4px 0 rgba(66,66,66,0.1);
}
#carousel-stories {
height: 150px;
width: 1240px;
margin-left: auto;
margin-right: auto;
padding-left: 2em;
padding-right: 2em;
height: 300px;
overflow: hidden;
position: relative;
box-sizing: border-box;
background-color: yellow;
  figure {
    width: 760px;
    height: 300px;
    background-color: blue;
    .story {
    }
  }
}
